@font-face {
  font-family: 'dejavu';
  src: url('fonts/dejavusans.woff') format('woff');
}

html {
  font-family: 'dejavu';
}

#controls {
  font-size: 120%;
  position: fixed;
  top: .8em;
  right: .8em;
  text-align: right;
}
button {
  margin: 0 0 10px 0;
  padding: .5em 1em;
  cursor: pointer;
  background-color: #fafaff;
  box-shadow: 0 0 .5em rgba(0,0,0,.1);
  border: 1px solid #000;
  border-radius: .2em;
  outline: none;
}
button:active {
  background-color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #888;
}

.red {
  color: red;
}

.black {
  color: black;
}

.card {
  font-size: 30px;
}
